<%= link_to(kudo_thumbs_ups_path(kudo), method: :post, class: 'thumbs-up') do %>
  <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" title="<%= kudo.thumbs_ups.map { |tu| tu.user.name }.join("\n") %>">
    <i class="fi-like"></i>
    <%= kudo.thumbs_ups.count %>
  </span>
<% end %>
