<p>
  Your kudo from <%= @thumb.kudo.creator.username %> just got a thumbs up from <%= @thumb.user.username %>.
  That kudo now has <%= @thumb.kudo.thumbs_ups.count %> thumbs ups. Seems like people like it.
</p>

<p>The kudo says:</p>

<p><%= @thumb.kudo.message %></p>
