@import 'foundation_and_overrides';
@import 'foundation-icons';
@import 'basscss-sass/scss/basscss.scss';

#main-content {
  margin-top: 20px;
}

.devise-action-links {
  font-size: 75%;
}

i {
  font-size: 24px;
}

.kudo-card h5 {
  margin-bottom: 0;
}

.kudo-card blockquote {
  margin-top: 15px;
}

.kudo-card .date {
  font-size: 60%;
  font-color: grey;
}

form label i {
  font-size: 100%;
}
