@import 'foundation_and_overrides';
@import 'foundation-icons';
@import 'basscss-sass/scss/basscss.scss';

#main-content {
  margin-top: 20px;
}

.devise-action-links {
  font-size: 75%;
}

i {
  font-size: 24px;
}

.kudo-card .recipient-info h5 {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 2em;
  display: inline;
}

.kudo-card .recipient-info h5 a {
  color: black;
}

.kudo-card .recipient-info .title {
  font-size: 1.0em;
  margin-left: 8px;
  color: grey;
}

.kudo-card blockquote {
  margin-top: 15px;
}

form label i {
  font-size: 100%;
}

.ah-ac-matches {
  background: white;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  .ah-ac-match {
    padding: 7px;
    border-bottom: 1px solid #ccc;
  }
  :hover {
    background: papayawhip;
  }
}

.user-avatar {
  font-size: 70px;
  font-weight: bold;
  background-color: grey;
  border: 1px solib black;
  height: 150px;
  width: 150px;
  text-align: center;
  padding-top: 18px;
  background-repeat: none;
}

.profile-header {
  margin-bottom: 40px;
}

.profile-avatar {
  margin-bottom: 40px;
}

.profile-header h2 {
  margin-bottom: 0;
}

.flag-inappropriate {
  margin-right: 10px;
}
