@import 'foundation_and_overrides';
@import 'foundation-icons';
@import 'basscss-sass/scss/basscss.scss';

#main-content {
  margin-top: 20px;
}

.devise-action-links {
  font-size: 75%;
}

i {
  font-size: 24px;
}

.kudo-panel {
  background: #00a6d2;
  padding: .5em 1em;
  h3 {font-weight: bold;}
  label {color: #fff; font-weight: bold;}
  color: #fff !important;
  input.input-group-field {height: 4em; margin-bottom: 1em; width: 100%;}
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
  margin: 0 0 2em 0;
  .input-group-button {text-align: left; font-weight: bold; background: #0071bc;}
}

.input-group {
}

.top-bar {
  background: #112e51;
}

.top-bar, .top-bar ul {
    background-color: #112e51;
    color: #fff;
    font-size: 1em;
    a {
      color: #fff;
    }
}

.top-bar-left a {
  font-size: 1.35em;
  font-weight: bold;
}

.kudo-card .recipient-info h5 {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 2em;
  display: inline;
}

.kudo-card .recipient-info h5 a {
  color: black;
}

.kudo-card .recipient-info .title {
  font-size: 1.0em;
  margin-left: 8px;
  color: grey;
}

.kudo-card blockquote {
  margin-top: 15px;
}

.kudo-card.current-user-kudo {
  border-color: red;
}

form label i {
  font-size: 100%;
}

.ah-ac-matches {
  background: white;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  .ah-ac-match {
    padding: 7px;
    border-bottom: 1px solid #ccc;
  }
  :hover {
    background: papayawhip;
  }
}

.user-avatar {
  background-color: grey;
  border: 1px solib black;
  height: 150px;
  width: 150px;
  background-repeat: none;
  position: relative;
}

.user-avatar .initials {
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  bottom: -7px;
  right: 5px;
}

.profile-header {
  margin-bottom: 40px;
}

.profile-avatar {
  margin-bottom: 40px;
}

.profile-header h2 {
  margin-bottom: 0;
}

.flag-inappropriate {
  margin-right: 10px;
}

.leader-card i {
  font-size: 50px;
}

.leader-card h5 {
  display: inline;
}

.user-profile-header {
  margin-bottom: 10px;
}

.user-profile-header h2 {
  font-weight: bold;
  display: inline;
}

.user-profile-header .title {
  font-size: 1.0em;
  margin-left: 8px;
  color: grey;
}
